.container {
    padding: 3% 4% 4%;
    min-height: 100vh;
    background: var(--background);
    max-width: 1440px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.header {
    margin-bottom: 20px;
    font-weight: 600;
}